@{
    Layout = "_AdminPopupLayout";
}
@model Nop.Plugin.Shipping.Core.Models.ShippingByLocationByTotalByWeightModel

<form asp-controller="BaseShippingMethodPlugin" asp-action="AddRateByLocationByTotalByWeightPopup"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Common.AddNew")
        </h1>
        <div class="pull-right">
            <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @await Html.PartialAsync("~/Plugins/Shipping.Core/Views/_CreateOrUpdateRateByLocationByTotalByWeight.cshtml", Model)
        </div>
    </div>
</form>